<div class="container">
  <h1>Gerador de QR Code Grátis e Fácil</h1>
  <p>
    Transforme qualquer texto em um QR code de maneira rápida e gratuita! Seja
    para compartilhar links, mensagens, ou qualquer outra informação, nossa
    ferramenta online facilita a criação de QR codes em poucos passos.
  </p>
  <h2>Como Funciona:</h2>
  <ul>
    <li>
      Digite seu texto: Insira o texto que você deseja converter em QR code na
      caixa de texto.
    </li>
    <li>
      Clique no botão: Aperte o botão "Gerar QR Code" para criar
      instantaneamente o seu QR code.
    </li>
    <li>
      Visualize e baixe: Veja a prévia do QR code gerado e, se estiver
      satisfeito, faça o download para uso imediato.
    </li>
  </ul>
  <h2>Vantagens:</h2>
  <ul>
    <li>
      100% Gratuito: Nossa ferramenta é completamente gratuita, sem limites de
      uso.
    </li>
    <li>Rápido e Simples: Geração de QR codes em apenas alguns cliques.</li>
    <li>Versátil: Ideal para links, mensagens, contatos e muito mais.</li>
  </ul>
  <a (click)="abrirBox()" class="btn">Experimente Agora</a>
</div>

