<button mat-button (click)="voltarHome()">
  <mat-icon>arrow_back</mat-icon>
  Voltar
</button>

<div class="caixa">
  <form class="form" (submit)="onSubmit()">
    <textarea
      id="message"
      name="message"
      class="form-control"
      [(ngModel)]="text"
      placeholder="Ensira seu texto aqui"
    ></textarea>
    <button
      type="submit"
      mat-raised-button
      color="accent"
      class="botao-qr-code"
    >
      <mat-icon>qr_code</mat-icon>
      Gerar
    </button>
  </form>

  <div class="qrcode">
    <img *ngIf="qrcode" [src]="qrcode" alt="QR Code" />
  </div>
  <button
    mat-raised-button
    color="primary"
    class="botao-download"
    *ngIf="qrcode"
    class="btn btn-primary"
    (click)="salvarQrCode()"
  >
    <mat-icon>download</mat-icon>
  </button>
</div>
