/* filepath: /home/croll/gerador-qrcode/src/styles.css */



@font-face {
  font-family: 'Code';
  src: url('/assets/fonts/Code.ttf') format('truetype');
}

body {
  font-family: 'Code';
}


.header h1 {
  font-family: 'Code';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
